<section class="container">
  <div class="panel">
    <div (dragstart)="dragstart($event,addRect)" draggable="true" class="panel__svg-button">
      <svg width="30" height="30" style="overflow: visible">
        <rect fill="transparent" height="30" rx="4" ry="4" stroke="#e37233" stroke-width="4"
              width="30"></rect>
      </svg>
    </div>
    <div (dragstart)="dragstart($event,addCircle)" draggable="true" class="panel__svg-button">
      <svg width="30" height="30" style="overflow: visible">
        <rect fill="transparent" height="30" rx="50%" ry="50%" stroke="red" stroke-width="2"
              width="30"></rect>
      </svg>
    </div>
    <div (dragstart)="dragstart($event,addLine)" draggable="true" class="panel__svg-button">
      <svg width="50" height="5" style="overflow: visible">
        <rect width="50" height="5" fill="gray" rx="0" ry="0"></rect>
        <polygon fill="gray" points="50,-6,55,2.5,50,11"></polygon>
      </svg>
    </div>
    <div (dragstart)="dragstart($event,addConnector)" draggable="true" class="panel__svg-button">
      <svg width="50" height="5" style="overflow: visible">
        <line stroke="gray" stroke-width="3" x1="0" y1="0" x2="50" y2="0"></line>
      </svg>
    </div>
    <button (click)="deleteFromWorkspace()" class="float-button" color="accent" mat-fab>Delete</button>
  </div>
  <div (drop)="drop($event)" (dragover)="dragover($event)" class="workspace-container" >
  <svg (dragstart)="$event.preventDefault()" class="workspace" #workspace></svg>
  </div>
  <!--<div class="workspace-container">-->
    <!--<svg (dragstart)="$event.preventDefault()" class="workspace" #workspace></svg>-->
  <!--</div>-->
</section>
